html {
  font-size: 62.5%;
}

body {
  margin: 0;
  line-height: 1.7;
  box-sizing: border-box;
}

.dropdown {
  outline: none;
  border: none;
  background-color: whitesmoke;
}

@keyframes comeScale {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
